@import "../../../styles/mixin.scss";

.chip_wrapper {
  width: 100%;
  flex-grow: 1;
}

.chip_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 2px 0px inset;
  gap: 0.5em;
  padding: 2em;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  &.hover {
  }

  &.leave {
  }
  &.click {
  }

  @include mo-sm {
    padding: 1.2em;
    border-radius: 20px;
  }
}
.content {
  display: grid;
  gap: 2em;
  grid-template-columns: 30% auto;
  justify-items: end;
  @include pc-sm {
    grid-template-columns: 20% auto;
  }
  @include mo-sm {
    grid-template-columns: 27% auto;
  }
}
@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-4px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
@keyframes container-pop {
  0% {
    box-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
      0 0 #555555, 0 0 #555555, 0 0 #555555;
    transform: translateY(0);
  }
  100% {
    box-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555,
      0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
    transform: translateY(-8px);
  }
}
@keyframes container-leave {
  0% {
    box-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555,
      0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
    transform: translateY(-8px);
  }
  100% {
    box-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
      0 0 #555555, 0 0 #555555, 0 0 #555555;
    transform: translateY(0);
  }
}
@keyframes container-click {
  0% {
    box-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555,
      0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
    transform: translateY(-8px);
  }
  100% {
    box-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555,
      0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    transform: translateY(8px);
  }
}
