@import "../../styles/mixin.scss";
.chip {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  min-width: calc(130 * 100vw / 1920);
  padding: 2px 4px;
  height: 48px;
  border-radius: 15px;
  font-weight: 600;
  font-size: calc(16 * 100vw / 1920);
  box-shadow: 0 2px 2px 0;
  &.small {
    min-width: 32px;
    height: 16px;
    border-radius: 10px;
  }
  @include mo-sm {
    font-size: 0.4rem;
    min-width: 48px;
    height: 24px;
    border-radius: 10px;
  }
}
