.skills {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.skills_title {
  h1 {
    padding: 2rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 600;
    font-size: 5rem;
    font-family: "neurimbo";
    border-bottom: 3px solid black;
  }
  .title_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
