.page_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 10rem 4rem;
  position: relative;
  z-index: 1;
}
.section {
  transition: 1s;
  opacity: 0;
  &.intersect {
    opacity: 1;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
}
@keyframes slide-top {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
