.GNB {
  width: 100%;
  max-width: 100vw;
  height: 6em;
  padding: 2em;
  border-bottom: #948a8a;
  box-sizing: border-box;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-content: center;
  position: fixed;
  z-index: 10;
}
.GNB_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  h1 {
    font-family: "neurimbo";
    font-size: 1em;
    margin: 0;
  }
  h3 {
    font-family: "neurimbo";
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.4);
    margin: 0;
  }
}
.nav_container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "neurimbo";
  font-weight: 500;
  ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    font-size: 1em;
    gap: 1em;
    li {
      &.nav {
        cursor: pointer;
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}
